@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

#__next,
main {
  height: inherit;
  width: inherit;
}

.org-article {
  height: calc(100vh - 84px);
}
